:root {
    --primary-color: #df3739;
}
.absolute-footer, html {
    background-color: #df3739;
}
.absolute-footer, html {
    background-color: #5b5b5b;
}
html {
    overflow-x: hidden;
}
html {
    box-sizing: border-box;
    background-attachment: fixed;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "vi-VN";
}
user agent stylesheet
html {
    display: block;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user-select: none;
}
body {
    color: #2d2d2d;
}
body {
    font-weight: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
body {
    font-size: 100%;
}
body {
    line-height: 1.6;
}
body, .container, .full-width .ubermenu-nav, .container-width, .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
body {
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --primary-color: #df3739;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
a {
    color: #df3739;
}
a {
    color: #334862;
    text-decoration: none;
}
a, button, input {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
a {
    background-color: transparent;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    color: #2d2d2d;
}
body {
    font-family: "Roboto", sans-serif;
}
body {
    font-size: 100%;
}
body {
    line-height: 1.6;
}
body {
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --primary-color: #df3739;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
#wrapper, #main {
    background-color: #fff;
    position: relative;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    color: #2d2d2d;
}
body {
    font-family: "Roboto", sans-serif;
}
body {
    font-size: 100%;
}
body {
    line-height: 1.6;
}
body {
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --primary-color: #df3739;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user-select: none;
}
body {
    color: #2d2d2d;
}
body {
    font-family: "Roboto", sans-serif;
}
body {
    font-size: 100%;
}
body {
    line-height: 1.6;
}
body {
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --primary-color: #df3739;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.no-scrollbar::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
style {
    display: none;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    color: #2d2d2d;
}
body {
    font-family: "Roboto", sans-serif;
}
body {
    font-size: 100%;
}
body {
    line-height: 1.6;
}
body {
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
:root {
    --primary-color: #df3739;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.demo_store {
    font-size: 13px;
}
.demo_store {
    padding: 5px;
    margin: 0;
    text-align: center;
    background-color: #000;
    color: #FFF;
}
p {
    margin-top: 0;
}
pre, blockquote, form, figure, p, dl, ul, ol {
    margin-bottom: 1.3em;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    color: #2d2d2d;
}
body {
    font-family: "Roboto", sans-serif;
}
body {
    font-size: 100%;
}
body {
    line-height: 1.6;
}
body {
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --primary-color: #df3739;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.mfp-hide {
    display: none !important;
}
.lightbox-content {
    background-color: #fff;
    max-width: 875px;
    margin: 0 auto;
    transform: translateZ(0);
    box-shadow: 3px 3px 20px 0 rgba(0,0,0,0.15);
    position: relative;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    color: #2d2d2d;
}
body {
    font-family: "Roboto", sans-serif;
}
body {
    font-size: 100%;
}
body {
    line-height: 1.6;
}
body {
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --primary-color: #df3739;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
script {
    display: none;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    color: #2d2d2d;
}
body {
    font-family: "Roboto", sans-serif;
}
body {
    font-size: 100%;
}
body {
    line-height: 1.6;
}
body {
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --primary-color: #df3739;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}